
body {
  font-family: Arial;
  font-size: 14px;
}

.dates {
  display: flex;
  flex-flow: row wrap;
}

.header {
  display: flex;
  text-align: center;
}
.date-header-tile {
  flex: 1 1 calc(100%/7 - 2px);
  border: 1px solid #ddd;
  padding: 5px;
  font-size: .7em;
  text-transform: uppercase;
  font-weight: bold;
}

.date-tile > .tile-content {
  margin: 5px;
  font-size: .8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-tile > .tile-content > .tile-text {
  display: inline-block;
}

.date-tile > .tile-content > .tile-holiday {
  display: inline;
  font-weight: bold;
  margin-left: 5px;
}

.date-tile.is-holiday {
  background-color: palegreen;
}

.date-tile {
  flex: 1 1 calc(100%/7 - 2px);
  height: 100px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.date-tile > .footer {
  background-color: #eee;
  font-size: .8em;
  padding: 2px;
  position: absolute;
  width: calc(100%/7 - 8px);
  margin-top: 84px;
  height: 12px;
  color: #000;
}

.date-tile.week-end {
  background-color: #f8f8f8;
}

.date-tile.today {
  background-color: rgb(230, 242, 255);
  color: rgb(0,93,186);
}

.date-tile.selected {
  background-color: rgb(0,93,186);
  color: #fff;
}

.date-tile.other-month {
  color: #aaa;
}

.event-bar {
  background-color: #eee;
  padding: 1px 3px;
  white-space: nowrap;
  position: absolute;
  /* width: calc(100%/7*4 - 4*2px - 25px); */
  margin-top: 1px;
  border: 1px solid #dadada;
  border-left: 5px solid grey;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
}

.event-bar > .label {
  font-weight: bold;
  margin-right: 5px;
}

.event-bar > .desc {
  font-size: .9em;
}

.more-bar {
  font-size: .8em;
  padding: 2px;
  position: absolute;
  width: calc(100%/7 - 8px);
  margin-top: 84px;
  height: 12px;
}

.more-bar > a:visited, .more-bar > a:hover, .more-bar > a:active {
  color: blue;
}
.more-bar > a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

.more-bar.hasFooter {
  margin-top: 68px;
}